body{
  background: linear-gradient(to right, #6a00f4, #b500ff, #007dff);
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&family=PT+Sans+Narrow:wght@400;700&display=swap');
h2{
  color: white;
  text-align: center;
  font-size: 70px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 1000;
  font-style: normal;
  margin: 0;
}
.sub{
  width: 50%;
  margin: auto;
  color: white;
  background-color:#6a00f4;
  padding: 80px 80px 20px 80px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);
}
.main{
  margin-top: 10%;
}
button{
  margin-top: 40px;
  font-size: 20px;
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}